*.gem
.bundle
.sass-cache
_site
.jekyll-cache
.jekyll-metadata
Gemfile.lock

Thumbs.db
.DS_Store

.rbenv-version
.rvmrc
/node_modules
/vendor
/yarn-error.log
yarn.lock

# Ignore Yard Doc
/doc
.yardoc/

package*
